*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: montserrat;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;

}
#page>h1{
    font-size: 80px;
    position: absolute;
    z-index: 99;
    text-align: center;
    top: 38%;
    left: 50%;
    font-weight: 500;
    transform: translate(-50%,-50%);
}
#page>h4{
    margin-top: 35%;
    font-size: 30px;
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    font-weight: 400;
    transform: translate(-50%,-50%);
    z-index: 99;
    color: #565656;
}
canvas{
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 9;
}
#nav{
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    top: 3%;
    border-radius: 20px;
    z-index: 99;
    height: 10vh;
    width: 30vw;
    background-color: #ffffff54;
    backdrop-filter: blur(10px);
    padding: 0px 5px;
}
#nav>img{
    width: 10%;
}
#nav>button{
    padding: 20px 10px;
    border-radius: 10px;
    border: none;
    background-color: orange;
    font-weight: 500;
    color: white;
}
#center-nav>a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    margin-left: 15px;
}
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #E5E1DC;
}
#page1>h1{
    z-index: 99;
    position: absolute;
    left: 50%;
    top:40%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 80px;
    font-weight: 500;
}
#page1>h4{
    position: absolute;
    margin-top: 15%;
    left: 50%;
    top:57%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 35;
    font-weight: 400;
    white-space: nowrap;
    color: #565656;
    z-index: 99;
}
#page2{
    position: relative;
    /* z-index: 9; */
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}
#page3{
    position: relative;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}
#page4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    text-align: center;
    background-color: #E4E0DD;
}
#page4>h1{
    font-weight: 600;
    font-size: 3vw;
}
#page4>h4{
    margin-top: 20px;
    font-weight: 500;
    color: #646464;
    font-size: 1vw;
}
#page5 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

#center-page5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 70%;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f6f3ef;
}

#left-page5 {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-page5 > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#right-page5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
}

#right-page5 > h1 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

#right-page5 > h4 {
  font-weight: 500;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

#right-page5 > button {
  padding: 10px 20px;
  width: 40%;
  max-width: 200px;
  height: auto;
  border: none;
  border-radius: 10px;
  background-color: #000;
  color: #ffffff;
  align-self: center;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  #center-page5 {
    width: 90%;
  }

  #right-page5 > h1 {
    font-size: 24px;
  }

  #right-page5 > h4 {
    font-size: 16px;
  }

  #right-page5 > button {
    width: 60%;
  }
}
#page6 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .left-page6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  .left-page6 > h1 {
    font-size: 32px;
    font-weight: 600;
  }
  
  .left-page6 > h4 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
  }
  
  .right-page6 {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
  
  .right-page6 > video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* Adjust the layout for screens larger than 768px (laptops and desktops) */
    #page6 {
      flex-direction: row;
    }
  
    .left-page6 {
      width: 50%;
      padding: 40px;
      text-align: left;
      background-color: transparent;
    }
  
    .left-page6 > h1 {
      font-size: 2.8vw;
    }
  
    .left-page6 > h4 {
      font-size: 20px;
      width: 50%;
    }
  
    .right-page6 {
      width: 50%;
      padding-top: 0;
    }
  }
#page7 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .left-page7 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  .left-page7 > h1 {
    font-size: 32px;
    font-weight: 600;
  }
  
  .left-page7 > h4 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
  }
  
  .right-page7 {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
  
  .right-page7 > video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* Adjust the layout for screens larger than 768px (laptops and desktops) */
    #page7 {
      flex-direction: row;
    }
  
    .left-page7 {
      width: 50%;
      padding: 40px;
      text-align: left;
      background-color: transparent;
    }
  
    .left-page7 > h1 {
      font-size: 2.8vw;
    }
  
    .left-page7 > h4 {
      font-size: 20px;
      width: 50%;
    }
  
    .right-page7 {
      width: 50%;
      padding-top: 0;
    }
  }
  
#page8 {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  
  .left-page8 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    background-color: white;
    margin-left: 7%;
    width: 40%;
  }
  
  .left-page8 > h1 {
    font-size: 32px;
    font-weight: 600;
  }
  
  .left-page8 > h4 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
  }
  
  .right-page8 {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .right-page8>img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 70%;
    max-width: 70%;
  }
  
  /* Media Query for mobile devices */
  @media (max-width: 768px) {
    #page8 {
      flex-direction: column;
    }
  
    .left-page8,
    .right-page8 {
      width: 100%;
      height: auto;
      text-align: center;
    }
  
    .right-page8>img {
      position: static;
      transform: none;
      max-height: 100%;
      max-width: 100%;
    }
  
    .left-page8>h1 {
      font-size: 32px;
    }
  }
  
#page9 {
    position: relative;
    
    height: 100vh;
    width: 100vw;
    background-color: #2f2f2f;
}
.page9_heading{
    color: white;
    margin-top: 5%;
    margin-left: 20%;
    font-size: 30px;
    font-weight: normal;
    width: 60%;
}
